REACT_APP_GOOGLE_MAP_API_KEY = "AIzaSyB-BG4LV3AAAB6yA575SoLRo0M_nu9SG0A"
REACT_APP_GOOGLE_MAP_API_LANG = "59.955413"
REACT_APP_GOOGLE_MAP_API_LAT = "30.337844"
REACT_APP_S3_DEPLOYMENT_BUCKET = "metrical-website"
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
REACT_APP_DEMO_URL = "https://sebvqfp5o0.execute-api.us-east-1.amazonaws.com/dev/requestdemo"
REACT_APP_CONTACT_URL = "https://sebvqfp5o0.execute-api.us-east-1.amazonaws.com/dev/contactus"