REACT_APP_GOOGLE_MAP_API_KEY = ""
REACT_APP_GOOGLE_MAP_API_LANG = ""
REACT_APP_GOOGLE_MAP_API_LAT = ""
REACT_APP_DEMO_URL = ""
REACT_APP_CONTACT_URL = ""
REACT_APP_S3_DEPLOYMENT_BUCKET = ""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""