$header_color_primary: #4559a7;
$paragraph_text_color: #4c4c4d;
.swal2-actions buttton{
background-color:$header_color_primary ;
}

$hover-bg: #454b66 ;
.Contactus {
  background-color: #fafafa;

  .mapsize img {
    width: 100%;
    height: auto;

  
  }

  .content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 20px 100px;
  }

  label {
    color: $paragraph_text_color;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 0px;
  }
  input{
    outline:none  }
  button {
    text-transform: uppercase;
    width: 100%;
    background-color: $header_color_primary;
    font-family: "Nudista";
    letter-spacing: 1px;
    margin-bottom: 20px; 
       outline:none;
    &:hover,  &:active,   &:focus{
      background-color: $hover-bg !important;
      border-color: $hover-bg !important;
      outline:none !important; 
      box-shadow: none !important;

    }

  }
  

  h1 {
    text-align: center;
    color: $header_color_primary;
    font-family: "Nudista";
    font-size: 32px;
    padding-top: 22px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
}

.form-control:focus {
  box-shadow: none;
}

.validator_text{
  color:red;
  font-size:12px;
  padding-left: 5px;
  text-transform: lowercase;

}