html,body{
 
  margin:0
}


//footer
.Footer{


background-color:#333333 ;

.content{
   max-width: 1300px;
  padding:60px 20px 50px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;

  @media(max-width:776px){

  }


  ul{
    margin:0;
    padding: 0px;
    li{
      display: inline;

     a{
      color:#fff;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      padding-right: 10px;
      letter-spacing: .5px;
      line-height: 32px;
      font-family: 'Roboto', sans-serif;

      &:after{
        content:"|";
        padding-left:10px
      }
      
    }
    &:last-child{
      a:after{
      content:""
    }
    }
  }

  }


  span{
    color:#fff;
    padding-top: 30px;
    display: block;
    line-height: 22px;
    a{

      color:#fff;
      text-decoration:none;
    

    }
  }

    .social-images{
            img{
          max-width: 50px;
          height:40px;
          margin-left:30px
            }
          }

    
    

  @media(max-width:767px){
    flex-direction: column;
    padding:100px 30px 90px;
    .social-images{
      display: flex;
      justify-content: left;
      margin-top:50px;
      img{
        margin-left:0;
        margin-right:20px
      }
    }
  }



}
}


//Navigation

.Navigation{
  background-color:#fff ;
  padding: 0px 20px;



  img{
 
    width: 235px;


  }
  @media (max-width:991px){
    padding: 0px 0px;
    
  img{
 
    width: 170px;


  }
  }

  .navbar-nav{
    flex-basis: 100%;
    justify-content: flex-end;
    a{
      font-size: 15px;
      color:#4c4d4d;
      text-transform: uppercase;
      margin-left: 35px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      padding-top: 5px;
      white-space: nowrap;
    


    }

    .chat-button{

    color:#445aa8;
    border-radius: 6px;
    border-color: #4559A7;

    border: 2px solid #4559A7;
    font-family: "Nudista";
    height:35px;
      width:130px;
      text-align: center;
      margin-top: -4px;

    }

    #demo-button{
      border-radius: 6px;
      border-color: #4559A7;
     
      color:#fff;
      font-family: "Nudista";
      height:35px;
      width:130px;
      text-align: center;
      margin-top: -4px;
      
      background: linear-gradient(90deg, rgb(55, 70, 128) 17%, rgb(102, 136, 178) 50%, rgb(83, 179, 170) 88%);
    


    }
  }

  .demo-button{
    display: none;
  }
  @media (max-width:991px){
    
    .demo-button{
      display: block;
      border-radius: 6px;
      border-color: #4559A7;
      padding: 2px 50px 2px;
      color: #fff;
      font-family: "Nudista";
      width:100%;
      background: linear-gradient(90deg, #374680 17%, #6688b2 50%, #53b3aa 88%);
      text-align: center;
      margin-top: 10px;
    }

    .navbar-nav a{
      margin-left:0;
      margin-bottom: 0px;
    }
    .chat-button{
      margin:10px 0px 12px !important;
    }

    .navbar-collapse{
    border-bottom: 1px solid #ddd;
    }
    #demo-button{
      display: none;
    }
    .navbar-toggler-icon{
      background-image: url(../../images/icons/BurgerMenu.png) !important;
      width:2em
    

    }
    .navbar-toggler{
      border:none
    }

    
    

    

  }

}


